/* ====================================
   2. BASE STYLES
   ==================================== */

body {
  background: var(--theme-bg);
  color: var(--theme-text);
  font-family: var(--font-family-primary), sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: 1.15rem;
  //padding: 2rem;
  //max-width: var(--max-width);
  //margin: auto;
}

img{
  display: block;
  max-width: 100%;
  vertical-align: middle;
}